In [1]:
import pandas as pd

train_path = './train_features.csv';
train = pd.read_csv(train_path);

In [4]:
train.shape

(227940, 37)

(227940,)

In [10]:
train_sample = train.head(100)
train_sample.head()

,pid,Time,Age,EtCO2,PTT,BUN,Lactate,Temp,Hgb,HCO3,...,Alkalinephos,SpO2,Bilirubin_direct,Chloride,Hct,Heartrate,Bilirubin_total,TroponinI,ABPs,pH
0,1,3,34.0,NaN,NaN,12.0,NaN,36.0,8.7,24.0,...,NaN,100.0,NaN,114.0,24.6,94.0,NaN,NaN,142.0,7.33
1,1,4,34.0,NaN,NaN,NaN,NaN,36.0,NaN,NaN,...,NaN,100.0,NaN,NaN,NaN,99.0,NaN,NaN,125.0,7.33
2,1,5,34.0,NaN,NaN,NaN,NaN,36.0,NaN,NaN,...,NaN,100.0,NaN,NaN,NaN,92.0,NaN,NaN,110.0,7.37
3,1,6,34.0,NaN,NaN,NaN,NaN,37.0,NaN,NaN,...,NaN,100.0,NaN,NaN,NaN,88.0,NaN,NaN,104.0,7.37
4,1,7,34.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,100.0,NaN,NaN,22.4,81.0,NaN,NaN,100.0,7.41

In [17]:
sample_groupby = train_sample.groupby('pid')

In [15]:
train_sample.describe()

,pid,Time,Age,EtCO2,PTT,BUN,Lactate,Temp,Hgb,HCO3,...,Alkalinephos,SpO2,Bilirubin_direct,Chloride,Hct,Heartrate,Bilirubin_total,TroponinI,ABPs,pH
count,100.000000,100.000000,100.000000,12.000000,5.000000,9.000000,4.000000,45.000000,10.000000,7.000000,...,2.000000,91.000000,0.0,9.000000,13.00000,91.000000,2.000000,2.000000,90.000000,14.000000
mean,5335.480000,6.700000,64.200000,30.791667,27.420000,16.888889,3.430000,36.866667,10.630000,25.857143,...,53.000000,97.857143,NaN,106.555556,28.70000,83.175824,1.050000,0.045000,126.177778,7.371429
std,4892.488492,3.580249,13.960985,5.202527,4.373443,4.781329,1.125433,0.814639,2.050501,1.069045,...,21.213203,2.218966,NaN,4.719934,6.51204,16.179956,0.353553,0.049497,20.505180,0.037999
min,1.000000,1.000000,34.000000,19.000000,20.900000,12.000000,1.780000,35.000000,8.500000,24.000000,...,38.000000,92.000000,NaN,101.000000,22.20000,58.000000,0.800000,0.010000,86.000000,7.300000
25%,100.000000,4.000000,60.000000,28.875000,25.700000,12.000000,3.190000,36.000000,8.825000,25.500000,...,45.500000,96.500000,NaN,103.000000,23.80000,70.000000,0.925000,0.027500,112.000000,7.335000
50%,10000.000000,7.000000,69.000000,30.000000,27.800000,18.000000,3.855000,37.000000,10.400000,26.000000,...,53.000000,98.000000,NaN,106.000000,27.30000,81.000000,1.050000,0.045000,125.000000,7.380000
75%,10006.000000,10.000000,73.000000,35.500000,31.300000,21.000000,4.095000,37.000000,12.125000,26.500000,...,60.500000,100.000000,NaN,111.000000,31.30000,91.500000,1.175000,0.062500,139.500000,7.397500
max,10009.000000,14.000000,79.000000,37.000000,31.400000,22.000000,4.230000,38.000000,14.600000,27.000000,...,68.000000,100.000000,NaN,114.000000,42.10000,128.000000,1.300000,0.080000,185.000000,7.420000

In [34]:
mean_sample=train_sample.groupby('pid').mean()
max_sample=train_sample.groupby('pid').max()
min_sample=train_sample.groupby('pid').min()
total_sample=pd.concat([mean_sample,max_sample,min_sample],axis=1)

In [30]:
mean_sample.head()

,Time,Age,EtCO2,PTT,BUN,Lactate,Temp,Hgb,HCO3,BaseExcess,...,Alkalinephos,SpO2,Bilirubin_direct,Chloride,Hct,Heartrate,Bilirubin_total,TroponinI,ABPs,pH
pid,,,,,,,,,,,,,,,,,,,,,
1,8.5,34.0,NaN,NaN,12.0,NaN,36.750000,8.566667,25.333333,-0.666667,...,NaN,100.000000,NaN,112.0,23.2,77.083333,NaN,NaN,114.500000,7.37
10,6.5,71.0,NaN,27.80,12.0,NaN,36.000000,14.600000,NaN,NaN,...,68.0,98.000000,NaN,NaN,42.1,78.818182,1.3,0.01,132.909091,NaN
100,7.5,68.0,NaN,20.90,21.0,NaN,36.250000,12.500000,27.000000,NaN,...,NaN,96.500000,NaN,101.0,36.8,109.083333,NaN,NaN,117.000000,NaN
1000,6.5,79.0,31.863636,NaN,22.0,3.855,36.818182,9.200000,NaN,NaN,...,NaN,98.818182,NaN,NaN,27.3,86.363636,NaN,NaN,141.909091,7.30
10000,6.5,76.0,NaN,28.55,22.0,NaN,36.750000,10.700000,25.500000,1.500000,...,NaN,98.545455,NaN,103.5,30.3,77.090909,NaN,NaN,123.000000,7.39

In [29]:
train_sample.shape

(100, 37)

In [36]:
total_sample.shape

(9, 108)

In [37]:
total_sample.fillna(0)

,Time,Age,EtCO2,PTT,BUN,Lactate,Temp,Hgb,HCO3,BaseExcess,...,Alkalinephos,SpO2,Bilirubin_direct,Chloride,Hct,Heartrate,Bilirubin_total,TroponinI,ABPs,pH
pid,,,,,,,,,,,,,,,,,,,,,
1,8.5,34.0,0.000000,0.00,12.0,0.000,36.750000,8.566667,25.333333,-0.666667,...,0.0,100.0,0.0,111.0,22.2,58.0,0.0,0.00,100.0,7.33
10,6.5,71.0,0.000000,27.80,12.0,0.000,36.000000,14.600000,0.000000,0.000000,...,68.0,96.0,0.0,0.0,42.1,69.0,1.3,0.01,113.0,0.00
100,7.5,68.0,0.000000,20.90,21.0,0.000,36.250000,12.500000,27.000000,0.000000,...,0.0,92.0,0.0,101.0,36.8,91.0,0.0,0.00,97.0,0.00
1000,6.5,79.0,31.863636,0.00,22.0,3.855,36.818182,9.200000,0.000000,0.000000,...,0.0,95.0,0.0,0.0,27.3,69.0,0.0,0.00,118.0,7.30
10000,6.5,76.0,0.000000,28.55,22.0,0.000,36.750000,10.700000,25.500000,1.500000,...,0.0,97.0,0.0,103.0,29.3,64.0,0.0,0.00,95.0,7.35
10002,6.5,73.0,19.000000,31.30,18.0,3.005,37.000000,10.400000,0.000000,0.000000,...,38.0,96.0,0.0,106.0,30.3,59.0,0.8,0.00,103.0,7.33
10006,6.5,51.0,0.000000,0.00,0.0,0.000,37.500000,0.000000,0.000000,0.000000,...,0.0,92.0,0.0,0.0,0.0,75.0,0.0,0.00,86.0,0.00
10007,6.5,60.0,0.000000,0.00,0.0,0.000,38.000000,0.000000,0.000000,0.000000,...,0.0,93.0,0.0,0.0,0.0,59.0,0.0,0.08,116.0,0.00
10009,2.5,69.0,0.000000,0.00,0.0,0.000,38.000000,0.000000,0.000000,0.000000,...,0.0,97.0,0.0,0.0,0.0,102.0,0.0,0.00,88.0,0.00

In [38]:
total_sample.head()

,Time,Age,EtCO2,PTT,BUN,Lactate,Temp,Hgb,HCO3,BaseExcess,...,Alkalinephos,SpO2,Bilirubin_direct,Chloride,Hct,Heartrate,Bilirubin_total,TroponinI,ABPs,pH
pid,,,,,,,,,,,,,,,,,,,,,
1,8.5,34.0,NaN,NaN,12.0,NaN,36.750000,8.566667,25.333333,-0.666667,...,NaN,100.0,NaN,111.0,22.2,58.0,NaN,NaN,100.0,7.33
10,6.5,71.0,NaN,27.80,12.0,NaN,36.000000,14.600000,NaN,NaN,...,68.0,96.0,NaN,NaN,42.1,69.0,1.3,0.01,113.0,NaN
100,7.5,68.0,NaN,20.90,21.0,NaN,36.250000,12.500000,27.000000,NaN,...,NaN,92.0,NaN,101.0,36.8,91.0,NaN,NaN,97.0,NaN
1000,6.5,79.0,31.863636,NaN,22.0,3.855,36.818182,9.200000,NaN,NaN,...,NaN,95.0,NaN,NaN,27.3,69.0,NaN,NaN,118.0,7.30
10000,6.5,76.0,NaN,28.55,22.0,NaN,36.750000,10.700000,25.500000,1.500000,...,NaN,97.0,NaN,103.0,29.3,64.0,NaN,NaN,95.0,7.35

In [41]:
value = total_sample.values
value.shape

(9, 108)

In [44]:
total_sample.sort_values('pid')

,Time,Age,EtCO2,PTT,BUN,Lactate,Temp,Hgb,HCO3,BaseExcess,...,Alkalinephos,SpO2,Bilirubin_direct,Chloride,Hct,Heartrate,Bilirubin_total,TroponinI,ABPs,pH
pid,,,,,,,,,,,,,,,,,,,,,
1,8.5,34.0,NaN,NaN,12.0,NaN,36.750000,8.566667,25.333333,-0.666667,...,NaN,100.0,NaN,111.0,22.2,58.0,NaN,NaN,100.0,7.33
10,6.5,71.0,NaN,27.80,12.0,NaN,36.000000,14.600000,NaN,NaN,...,68.0,96.0,NaN,NaN,42.1,69.0,1.3,0.01,113.0,NaN
100,7.5,68.0,NaN,20.90,21.0,NaN,36.250000,12.500000,27.000000,NaN,...,NaN,92.0,NaN,101.0,36.8,91.0,NaN,NaN,97.0,NaN
1000,6.5,79.0,31.863636,NaN,22.0,3.855,36.818182,9.200000,NaN,NaN,...,NaN,95.0,NaN,NaN,27.3,69.0,NaN,NaN,118.0,7.30
10000,6.5,76.0,NaN,28.55,22.0,NaN,36.750000,10.700000,25.500000,1.500000,...,NaN,97.0,NaN,103.0,29.3,64.0,NaN,NaN,95.0,7.35
10002,6.5,73.0,19.000000,31.30,18.0,3.005,37.000000,10.400000,NaN,NaN,...,38.0,96.0,NaN,106.0,30.3,59.0,0.8,NaN,103.0,7.33
10006,6.5,51.0,NaN,NaN,NaN,NaN,37.500000,NaN,NaN,NaN,...,NaN,92.0,NaN,NaN,NaN,75.0,NaN,NaN,86.0,NaN
10007,6.5,60.0,NaN,NaN,NaN,NaN,38.000000,NaN,NaN,NaN,...,NaN,93.0,NaN,NaN,NaN,59.0,NaN,0.08,116.0,NaN
10009,2.5,69.0,NaN,NaN,NaN,NaN,38.000000,NaN,NaN,NaN,...,NaN,97.0,NaN,NaN,NaN,102.0,NaN,NaN,88.0,NaN

In [45]:
label_path = './train_labels.csv';
label = pd.read_csv(label_path);

In [46]:
label.head()

,pid,LABEL_BaseExcess,LABEL_Fibrinogen,LABEL_AST,LABEL_Alkalinephos,LABEL_Bilirubin_total,LABEL_Lactate,LABEL_TroponinI,LABEL_SaO2,LABEL_Bilirubin_direct,LABEL_EtCO2,LABEL_Sepsis,LABEL_RRate,LABEL_ABPm,LABEL_SpO2,LABEL_Heartrate
0,1,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,12.1,85.4,100.0,59.9
1,10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,17.8,100.6,95.5,85.5
2,100,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,16.5,88.3,96.5,108.1
3,1000,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,19.4,77.2,98.3,80.9
4,10000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,12.6,76.8,97.7,95.3

In [61]:
x_label=label.sort_values('pid')['LABEL_BaseExcess']

In [53]:
import numpy as np
_ans = np.array([[2,3],[4,3]])

In [57]:
_ans[:,1]

array([3, 3])

In [58]:
_ans.shape

(2, 2)

In [63]:
x_label.values

array([1., 0., 0., ..., 1., 0., 0.])